#dealer-cards {
    display: flex;
    flex-direction: row;
}

.playing-card {
    position: relative;
    margin-right: 10px;
    width: 150px;
    height: 220px;
    border: 3px solid #93b5a6;
    border-radius: 10px;
}

.playing-card-num {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: 100px 'JetBrains Mono', monospace;
    font-weight: bold
}
