#character-card-container {
    display: flex;
    justify-content: center;
}

.character-card {
    margin: 0 1vw;
    background-color: #0c1522;
    padding: 1vw;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 0.03em;
    transition: background-color 300ms;
    user-select: none;
    cursor: pointer;
}

.character-card img {
    border-radius: 5px;
    width: 230px;
    height: 345px;
}
