#menu-bar {
    width: 100%;
    border: 1px solid grey;
    display: flex;
}

a {
    text-decoration: none;
}

.menu-item {
    padding: 20px 0;
    width: 160px;
    transform: skew(-25deg);
    transition: width .5s;
}

.menu-item:hover {
    width: 200px;
}

.logo-btn img {
    height: 60px;
    margin: auto
}

.logo-btn {
    height: 60px;
    transform: skew(-25deg);
    background-color: #7f5bac;
    padding: 20px 40px;
    transition: width .5s;
    z-index: 1
}

.menu-item-contents {
    transform: skew(25deg);
    text-align: center;
    color: white;
    font-weight: bold;
}

.green {
    background-color: #88b300;
}

.pink {
    background-color: #ff66aa;
}

.purple {
    background-color: #8866ee;
    z-index: -1;
}